.form {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.75rem;
}

.card {
  width: 500px;
  height: 375px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: lightgrey;
  border-radius: 0.5rem;
}

.pointer:hover {
  cursor: pointer;
}

.card-title {
  background: white;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
